*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
.profile
.settings
.classpath
.project
protein_chains_All_20150123_205344.seq
protein_chains_All_20150629_002251.seq
3WST.G.txt
